.about-image{
	width:200px;
	height:200px;
	border-width:0px;
}
#profile-images{
	display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}
	
	#mobile-badge{
		display:none;
	}

#summary {
	text-align: left;
}

.about-me-sidebar{
	display:flex;
	flex-direction: column;
	gap: 2em;
	flex: 2;
}

.side-bar {
	flex-direction: column;
}

.projects-max-width {
	max-width: 560px;
}

#project-page-main {
	height: unset;
}

#project {
	flex: 5;
}

#project-page-flex {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
	gap: 2em;
}

.project-page-title {
	margin-bottom: 50px;
}

.card-min-width{
	min-width: 294px;
}

.icon-title-holder{
	display: flex; 
	justify-content: flex-start;
}

main{
	  height: 100vh;           /* full viewport height */
  display: flex;
  flex-direction: column;  /* stack hero and projects vertically */
  justify-content: space-between; /* hero top, projects bottom */
}

#projects{
	justify-self: flex-end;
	margin-bottom: 100px;
}

header {
background: #FFFFFF;
background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(237, 83, 83, 0) 100%);
	display: flex;
	gap: 10px;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	position: sticky;
	top: 0px
}

header p {
	margin-top: 0px;
	margin-bottom: 0px;
		font-family: "Space Mono", monospace;
		font-weight: bold;
}

#hero {
	display: flex;
	gap: 30px;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 50px;
	margin-top: 0px;
	 justify-self: flex-start;
	 height: 70vh;
}

button{
	text-wrap-mode: nowrap;
}

.button-group {
	display: flex;
	gap: 10px;
	flex-wrap: nowrap;
	align-items: center;
}

.button-prio {
	padding: 15px 25px;
	background-color: #0c0cff;
	border-radius: 20px;
	border: none;
	color: #fff;
	font-size: 1em;
	font-family: "Roboto", sans-serif;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
}

.button-basic {
	padding: 15px 25px;
	background-color: #fff;
	border-radius: 20px;
	border: 1px solid #ccc;
	color: #000;
	font-size: 1em;
	font-family: "Roboto", sans-serif;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
}

#coming-soon:hover {
	background-color: #d1d1d1;
	cursor:default;
	border-color: #d1d1d1;
	font-weight: normal;
}

#coming-soon {
	background-color: #e9e9e9;
	cursor:default;
	border-color: #d1d1d1;
	font-weight: normal;
}

.button-header {
	background-color: #ffffff00;
	border: 1px solid #ffffff00;
	color: #000;rgb(255, 255, 255)rgba(255, 255, 255, 0);
	font-size: 1em;
	font-family: "Space Mono", monospace;
	cursor: pointer;
}

#home-button {
	font-weight: bold;
	font-size: 1.2em;
}

.button-mini {
	padding: 15px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.button-basic:hover {
	background-color: #ffffff;
	color: black;
	font-weight: bold;
	border-color: #0c0cff;
	box-shadow: 3px 3px 0px #b1b1b1;
}

.button-prio:hover {
	background-color: #ffffff;
	color: black;
	font-weight: bold;
	border-color: #0c0cff;
	box-shadow: 3px 3px 0px #b1b1b1;
}

.contents {
	display: flex;
	gap: 30px;
	/* space between columns */
	flex-wrap: wrap;
	/* allows wrapping on smaller screens */
	justify-content: center;
	height: fit-content;
}

#highlight-content {
	flex: 1;
	border-left: 10px solid #0c0cff;
}

.content {
	flex: 1;
	background-color: #FFFFFF;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 5px 5px #e6e6e6;
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
	justify-content: space-between;
}

.cardhover:hover {
	transform: translateY(-4px);
	box-shadow: 10px 10px #ececec;

}

main {
	line-height: 1.7;
	padding: 50px;
}

.rightAlign {
	float: right;
}


.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	box-shadow: 5px 5px #e6e6e6;
}

h1 {
	font-size: 3.5rem;
	margin-top: 5px;
	margin-bottom: 5px;
}

h2 {
	font-size: 1.5em;
	text-align: center;
}

h3 {
	font-size: 1.25em;
}

h1,
h2,
h3,
h4,
a {
	font-family: "Space Mono", monospace;
	color: #313131;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	
}

body {
	background-color: #f3faff;
	margin: 0px;
}

.card {
	background-color: #FFFFFF;
	padding: 40px;
	border-radius: 5px;
	height: fit-content;
	box-shadow: 5px 5px #e6e6e6;
	padding-top: 20px;
}

.project-card {
	background-color: #FFFFFF;
	padding: 20px;
	padding-left: 20px;
	margin-top: 40px;
	border-radius: 5px;
	height: fit-content;
	border-left: 15px solid #eeeeee;
}

p,
li {
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	color: #4d4d4d;
}

.about-me-summary{
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	gap: 20px;
	align-items: center;
}

.cert{
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	gap: 20px;
	align-items: center;
}

.project-icon-title{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
}

.one {
	background-color: #fafafa;
}

.project-heading{
	text-align: left;
}

@media (max-width: 1200px) {

	/* Smaller Screens */

	#mobile-badge{
		display:unset;
	}

	#summary {
	text-align: center;
}

	.about-me-summary {
		flex-direction:column;
	}

	#project-page-flex{
		flex-direction:column;
		align-items: center;
	}

	.project-icon-title{
		flex-direction: column;
	}

	.icon-title-holder{
		justify-content: center;
	}

	main {
		height: 100%;
		padding: 30px;
	}

	#hero {
		height: 30vh;
	}
	
	h1 {
		font-size: 3rem;
	}

	.project-heading{
	text-align: center;
}

	h2 {
		font-size: 1.5rem;
		text-align: center;
	}

	h3 {
		font-size: 1.3em;
		text-align: center;
	}

	p,
	li {
		font-size: 1.25rem;
		line-height: 2;
	}

	.button-prio {
		font-size: 1.25rem;
	}

	.button-basic {
		font-size: 1.25rem;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-top: 10px solid #0c0cff00;
	}

	#about-me-intro {
		flex-direction: column;
		align-items: center;
	}

	#highlight-content {
		border-top: 10px solid #0c0cff;
		border-left: 0px;
		height: fit-content;
	}

	.button-group {
		justify-content: center;
	}

	#email-me-button {
		background-color: #0c0cff;
		border: none;
		color: #fff;
	}

}

@media (max-width: 550px) {

	/* Smallest Screens */

	.cert{
		flex-direction: column;
	}

	.about-image {
    width: 150px;
    height: 150px;
	}

	.project-page-title{
		margin-top:20px;
	}

	main{
		padding: 20px;
	}

	#project{
		padding: 5px;
	}
	
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.3rem;
		text-align: center;
	}

	h3 {
		font-size: 1.1em;
		text-align: center;
	}

	p,
	li {
		font-size: 1rem;
		line-height: 2;
	}

	.button-prio {
		font-size: 1rem;
	}

	.button-basic {
		font-size: 1rem;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px;
	}

	#about-me-intro {
		flex-direction: column;
		align-items: center;
	}

	#highlight-content {
		border-top: 10px solid #0c0cff;
		border-left: 0px;
	}

	.button-group {
		justify-content: center;
		flex-wrap: wrap;
	}

	#email-me-button {
		background-color: #0c0cff;
		border: none;
		color: #fff;
	}

	.project-card {
		border-left: 0px;
		border-top: 0px;
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: 0px;

	}

	#hero {
		margin: 0px;
		margin-bottom: 50px;
		height: 45vh;
	}

	#project-intro {
		margin: 30px;
	}
}

@media (max-width: 390px) {

	/* Tiny Screens */
	main{
		padding: 20px;
	}

	.card-min-width{
		min-width: unset;
	}

	.about-image {
    width: 100px;
    height: 100px;
	}

}